.card-photo {
  height: 80px;
  width: 80x;
}

.info-card {
  border: 0.5px solid rgba(154, 154,154, 0.4);
  box-shadow: 2px 2px rgba(154, 154,154, 0.4);
  height: 240px;
  width: 240px;
}

.info-card:hover {
  box-shadow: 2px 2px rgba(154, 154,154, 0.9);
}

.cards-container {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
}

.cards {
  display: flex;
  justify-content: space-evenly;
}

.cards-container p {
  color: rgba(0, 0, 0, 0.6);
}
